{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block header_title %} {{ subtitle }} {% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="content-container" style="
      color: #000;
      padding: 20px; 
      height: 50vh; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    ">
      <h1>{% trans "Products in cart" %}</h1>
      <ul>
        {% for product in cart_products %}
          <li>
            {% trans "Name" %}: {{ product.name }} -
            {% trans "Price" %}: ${{ product.price }}
            {% trans "Quantity" %}: {{ product.quantity }}
          </li>
        {% endfor %}
        <p>{% trans "Total Cart Price" %}: ${{ cart_total }}</p>
      </ul>
      <form method="post" action="{% url 'cart_removeAll' %}">
        {% csrf_token %}
        <button type="submit">{% trans "Remove all products from cart" %}</button>
      </form>
    </div>
    {% if user.is_authenticated %}
    <form method="get" action="{% url 'generate_pdf' %}" onsubmit="redirectToHome()">
      <button type="submit">Buy</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

<script>
  function redirectToHome() {
    // Realizar la redirección a la página 'home' utilizando JavaScript
    window.location.href = "{% url 'home' %}";
  }
</script>