{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="card-img-top img-card" style="max-width: 300px; height: 400px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{product.name}}
                </h5>
                <p class="card-text">${{product.price}}</p>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <input type="number" class="form-control mb-2" placeholder="Quantity" name="quantity" value="{{form.data.price }}" min="1" style="width: 100px;">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">{% trans "Add to Cart" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}